<html>
    <head>

    </head>
    <body>
        <h1>Sign In</h1>

        <form action="/users/create-sessions" method="POST">
            <input type="email" name="email" required placeholder="Your email">
            <input type="password" name="password" required placeholder="Password">
            <input type="Submit" value="Sign In">
        </form>
        

    </body>
</html>