<html>
    <head>
        <%=title%>
    </head>
    <body>
        <h1>profile / <%=title%></h1>
        <p>
            <%=user.name%>
        </p>
        <p>
            <%=user.email%>
        </p>
    </body>
</html>